@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body{
    background-color: rgb(215, 228, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
 
}
h1{
    color: darkslategrey;
}
.form{
    background-color:#f0ffff;
    padding: 10px;
    box-shadow: 0px 7px 50px 2px rgb(112, 112, 112,0.65);
    border-radius: 0.60rem;
    width: 350px;
    
}
.form label{
    font-size: 14px;
}
.form input{
    border: 1px solid rgb(176, 176, 176);
    outline: none;
    padding: 6px;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 4px;
}
.form button{
    background-color: rgb(114, 114, 253);
    color: white;
    border:1px solid black;
    width: 100px;
    cursor: pointer;
    border-radius: 0.40rem;
    height: 27px;
    float: right ;
   
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
}
table{
    margin-top: 50px;
    width: 500px;
}
button:hover{
    background-color: rgb(94, 94, 150);
}
